body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden; /* Para evitar qualquer rolagem horizontal */
}

header {
    height: 100vh; /* Faz o header ocupar toda a altura da janela */
}

.logo-container {
    position: relative;
    text-align: center;
    color: white;
    height: 100%; /* Garante que o container ocupe toda a altura do header */
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem e cobre todo o container */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
}

.logo-text {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Cor de fundo e opacidade para a caixa de texto */
    border-radius: 10px;
}

.logo-text h2 {
    margin: 0;
    font-size: 1.5em;
}
